@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

:root {
  --primary-color: #ab7781;
  --primary-medium: #65434a;
  --primary-dark: #452e33;
  --highlight: #8ddfd4;
  --white: #faf0ea;
  --black: #452e33;

  --radius: 16px;
}

body {
  background: var(--white);
  color: var(--black);
  min-height: 100vh;
}

label {
  font-size: 0.8em;
  text-transform: uppercase;
  display: block;
  width: 100%;
  line-height: 3em;
  color: var(--primary-color);
  margin-left: 0.8em;
}

input {
  float: right;
  border: none;
  margin-right: 1.75em;
  background: var(--white);
  line-height: 2em;
  padding: 0.5em;
  width: calc(100% - 12em);
  font-family: monospace;
  background: white;
}

select {
  /* float: right; */
  margin-left: 4.5em;
  border: 1px solid white;
  border-radius: 0;
  appearance: none;
  background: var(--white);
  color: var(--black);
  padding: 0.5em;
}

textarea:focus,
input:focus,
select:focus {
  outline: none;
}

pre {
  font-size: 10px;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  background: var(--black);
  margin: 1em;
  color: var(--white);
  padding: 1em;
}

.App {
  font-family: "Rubik", sans-serif;
  margin: 0 auto;
  max-width: 800px;
  width: 100%;
}

.App .Logo {
  margin: 1em 0;
}
