.Section {
  border-left: 5px solid var(--highlight);
  position: relative;
  padding: 2em 0 1em;
  color: var(--black);
  margin-bottom: 2em;
}

.Section h2 {
  color: var(--white);
  background: var(--highlight);
  padding: 0.5em 1em 0.5em 0.5em;
  position: absolute;
  margin: 0;
  top: 0;
  left: 0;
  font-size: 0.8em;
  text-transform: uppercase;
  font-weight: 400;
}
.Section h2:before {
  content: "\0279c";
  margin-right: 0.5em;
}

.Section .ButtonGroup {
}

@media (min-width: 35em) {
  .Section .ButtonGroup {
    position: absolute;
    top: -2px;
    right: 0;
  }
}

.Section form button {
  position: absolute;
  bottom: 0;
  left: 0;
  color: var(--highlight);
  background: var(--white);
  border: 1px solid var(--highlight);
  border-left: none;
  width: 100%;
}
.Section textarea {
  background: white;
  border: none;
  font-family: monospace;
  height: 3.5em;
  margin: 1em;
  padding: 0.5em;
  resize: none;
  width: calc(100% - 3em);
}

.Section button {
  background: var(--highlight);
  border: none;
  color: var(--primary-color);
  cursor: pointer;
  font-family: "Rubik", sans-serif;
  height: 2em;
}
@media (min-width: 35em) {
  .Section button {
    min-width: 100px;
  }
}
.Section button:hover {
  background: white;
}
