.App {
  max-width: 800px;
  margin: 0 auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h2 {
  padding-top: 1em;
  border-top: 1px solid gray;
}

textarea {
  width: 100%;
  resize: none;
  height: 10em;
  padding: 0.5em;
}

button {
  clear: both;
  margin: 1em 0;
  display: block;
  width: 100px;
  height: 2em;
  color: white;
  background: black;
  border: none;
}

label {
  padding-right: 1em;
  display: inline-block;
  width: 10em;
}

input {
  border: 1px solid gray;
  padding: 0.5em;
  width: 100%;
}
